{:app-name "automaton-core"
 :task-shared {:gha {}
               :mermaid-dir "docs/code/"
               :publication {:as-lib org.clojars.hephaistox/automaton-core
                             :branch "main"
                             :deploy-to :clojars
                             :jar-path "target/prod/automaton-core.jar"
                             :major-version "0.0.%d"
                             :pom-path "target/prod/class/META-INF/maven/org.clojars.hephaistox/automaton-core/pom.xml"
                             :repo "git@github.com:hephaistox/automaton-core.git"}
               :repl-aliases [:common-test :env-development-repl :build]
               :storage-datomic {:datomic-ver "1.0.7021"}}
 :tasks {:clean {:dirs [".cpcache/" ".clj-kondo/.cache/" "tmp/" "target/" "node_modules/" ".shadow-cljs/builds/"]}
         :reports {:forbiddenwords-words #{"automaton-web" "landing" "tap>"}}}}
