{:deps {babashka/fs #:mvn{:version "0.4.19"},
        babashka/process #:mvn{:version "0.5.21"},
        danlentz/clj-uuid #:mvn{:version "0.1.9"},
        metosin/malli #:mvn{:version "0.13.0"},
        lambdaisland/uri {:mvn/version "1.15.125"}
        mount/mount #:mvn{:version "0.1.17"},
        com.clojure-goes-fast/clj-memory-meter #:mvn{:version "0.3.0"},
        org.apache.logging.log4j/log4j-api #:mvn{:version "2.20.0"},
        org.apache.logging.log4j/log4j-core #:mvn{:version "2.20.0"},
        org.apache.logging.log4j/log4j-slf4j2-impl #:mvn{:version "2.20.0"},
        io.sentry/sentry {:mvn/version "6.29.0"},
        io.sentry/sentry-clj #:mvn{:version "6.28.200"},
        com.taoensso/tempura #:mvn{:version "1.5.3"},
        com.taoensso/encore  #:mvn{:version "3.62.1"}
        nrepl/nrepl #:mvn{:version "1.0.0"},
        refactor-nrepl/refactor-nrepl #:mvn{:version "3.9.0"},
        org.clojure/clojure #:mvn{:version "1.11.1"},
        org.clojure/tools.logging #:mvn{:version "1.2.4"}
        org.clojure/tools.cli #:mvn{:version "1.0.219"}}

 :paths ["src/clj" "src/cljc" "resources"]

 :aliases {:common-test {:exec-fn cognitect.test-runner.api/test
                         :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner",
                                                                 :sha "7284cda41fb9edc0f3bc6b6185cfb7138fc8a023"},
                                      org.clojure/tools.namespace #:mvn{:version "1.4.4"},
                                      org.clojure/tools.reader #:mvn{:version "1.3.6"}}
                         :extra-paths ["test/clj" "test/cljc" "test/resources"]
                         :jvm-opts ["-Dheph-conf=env/test/config.edn"
                                    "-Dheph-common-conf=env/common_config.edn"]}

           :build {:extra-deps {hephaistox/automaton-build-app {:git/url "git@github.com:hephaistox/automaton-build-app.git"
                                                                :sha "33c8941cb6df63006bafaaf1d5e7f0383b10468a"}}}

           :env-development-repl {:extra-paths ["env/development/resources"
                                                "env/development/src/clj"
                                                "env/development/src/cljc"]
                                  :extra-deps {cider/cider-nrepl {:mvn/version "0.21.1"}
                                               org.clojure/core.async {:mvn/version "1.6.681"}}
                                  :main-opts ["-m" "automaton-core.repl-core"]
                                  :jvm-opts ["-Dheph-conf=env/development/config.edn"
                                             "-Dheph-common-conf=env/common_config.edn"]},

           :env-development-test {:jvm-opts ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2-factory"
                                             "-Dhephaistox-in-test=true"
                                             "-Dlog4j.configurationFile=resources/log_config/appenders.properties,resources/log_config/logging-tests.properties"]
                                  :main-opts ["-m" "cognitect.test-runner"
                                              "-r" ".*-test.*"
                                              "-d" "test/clj"
                                              "-d" "test/cljc"]}

           :cljs-deps {:extra-paths ["src/cljs" "src/cljc" "resources" "test/cljs" "test/cljc"]
                       :extra-deps {thheller/shadow-cljs {:mvn/version "2.25.8"}
                                    cider/cider-nrepl {:mvn/version "0.21.1"}
                                    binaryage/devtools {:mvn/version "1.0.7"}}}

           :bb-deps {:extra-deps {hephaistox/automaton-build-app {:local/root "../../automaton/automaton_build_app"}
                                  #_{:git/url "git@github.com:hephaistox/automaton-build-app.git"
                                     :sha "df88ec49ea3cdbc8606c22cc1635ac7a309d8c03"}}}}}
