{:app-name "automaton-core"
 :code {:forbidden-words #{"DONE" "FIXME" "NOTE" "TODO" "automaton-build"
                           "automaton-web" "landing" "tap>"}}
 :deps
 {:excluded-libs
  [{:name "com.taoensso/encore"
    :version "3.62.1"}
   {:doc
    "0.16.3 has deprecated warnings, fix is already in main merged but not released yet"
    :name "metosin/malli"}
   {:doc
    "Updating any of taoensso libs results in cljs warnings comming from taoensso/timbre"
    :name "com.taoensso/tempura"
    :version "1.5.3"}]}}
