{:nrepl {:port 8011}

 :jvm-opts ["-Xmx1G"
            "-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2-factory"]

 :source-paths ["src/cljs" "src/cljc" "resources" "test/cljs"
                "test/cljc"]
 :deps {:aliases [:cljs-deps]}

 :dev-http {8012 ["target/browser-test"]}

 :builds {:ltest {:target    :karma
                  :ns-regexp "-test$"
                  :output-to "target/ltest.js"}

          :browser-test {:target    :browser-test
                         :ns-regexp "-test$"
                         :runner-ns shadow.test.browser
                         :test-dir  "target/browser-test"}}}
