{:env :dev
 :app-name "automaton-core"
 :archi {:dir "docs/archi/"}
 :customer-materials {:dir "docs/customer_materials"
                      :tmp-html-dir "tmp/pdf/htmls"
                      :tmp-dir "tmp/pdf"}
 :published-apps {:dir "tmp"
                  :code-subdir "code-pub"}
 :documentation {:codox "docs/codox"
                 :code-stats "docs/code/stats.md"
                 :code-subdir "docs/code"}
 :log {:spitted-edns "tmp/logs/spitted"}
 :tests {:tmp-dirs "tmp/tests"}
 :dev {:clj-nrepl-port 8010}}
